@charset "UTF-8";
.bg-dark {
    background-color: #FF8484 !important;
}
.navbar-dark .navbar-nav .nav-link {
    font-family: source-sans-pro;
    color: #006699;
    font-style: normal;
    font-weight: 400;
}
.navbar-nav .nav-item {
    border: 1px solid #ffff33;
    background-image: -webkit-linear-gradient(270deg,rgba(238,221,0,1.00) 0%,rgba(255,255,51,1.00) 100%);
    background-image: linear-gradient(180deg, #2191FB 0%, #ff8484
		100%);
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    width: 108px;
}
header h2 {
    font: 350%/1em Impact;
    color: #2191FB;
    text-shadow: 0px 5px 11.05px rgba(0, 0, 0, 0.56);
    text-align: center;
    margin-top: 1em;
    letter-spacing: 0.12em;
    font-family: Masque, Jura;
}
header p {
    line-height: 1em;
    font-weight: 700;
    font-size: 150%;
    font-family: source-sans-pro;
    color: #2FBF71;
    text-shadow: 0px 3px 5.95px rgba(0, 0, 0, 0.8);
    text-align: center;
    letter-spacing: 0.4em;
    font-style: normal;
}
header {
    background-image: url(15355888_SL_031721_41490_22.jpg);
    background-position: center center;
    background-size: 80% auto;
    background-repeat: no-repeat;
    height: 212px;
    background-color: #2191FB;
}
nav .container {
    padding-bottom: 10px;
    border-bottom: 2px solid #FF8484;
}
footer {
    padding-top: 5px;
    color: #2E4057;
    background-color: #2FBF71;
}
